{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Azure Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            .container{
                text-align: center;
                align-items: center;
                margin:10%
            }
            .logo{
                margin: 0 auto;
                width: 400px;
            }
            .heading{
                font-size: 70px;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <img class="logo" src="{% static 'm_azure_logo.png' %}">
            <div class="heading">
                Welcome to Azure Demo
            </div>
        </div>
    </body>
</html>